__pycache__/*
**/*.log

conn/connectionlive.key
conn/connectionQA.key
data/avsllc_newspaper_daily_2020-10-12.csv
data/avsllc_daily_20201011.txt
.vscode/*
data/avsllc_daily_20201013.txt
data/file.csv
data/info.db
data/to_process/*.txt
data/original/avsllc_daily_20201025.txt
data/to_process/*.csv
data/backup/*.txt
data/backup/*.csv
data/ae_output/*.xlsx
data/backup/avsllc_newspaper_daily_2020-10-08.csv
